.wrapper {
    display: flex;
    align-items: center;
    height: 60vh;
}

.night__city-pic {
    height: 100vh;
    width: 2400px;
    object-fit: cover;
    transition: 2s all linear;
}

.night__city-pic:hover {
    transform: translateX(-600px);
}