.wrapper {
    display: flex;
    align-items: center;
    height: 70vh;
}

.night__city-pic {
    height: 200vh;
    width: 3000px;
    object-fit: cover;
    transition: 2s all linear;
}

.night__city-pic:hover {
    transform: translateX(-600px);
}