body {
    background-color: #ffffe5;
    padding: 14px;
    padding-left: 450px;
    padding-top: 40px;
}

.Text {
    border-bottom: solid 5px #FF9AA2;
    border-left: solid 5px #FF9AA2;
    background-color: #FFB7B2;
    color: #b981f8;
    width: 50%;
    padding: 12px;
}

.img {
    border: double 10px #FF9AA2;
    padding: 0px;
}